@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OverwatchFont";
  src: url("../fonts/big_noodle_titling.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OverwatchItalicFont";
  src: url("../fonts/big_noodle_titling_oblique.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --ATLPrimaryBG: #c4c4c4;
  --BOSPrimaryBG: #174b97;
  --CHDPrimaryBG: #ffa000;
  --DALPrimaryBG: #032340;
  --FLMPrimaryBG: #000000;
  --GZCPrimaryBG: #122c42;
  --HZSPrimaryBG: #fb7299;
  --HOUPrimaryBG: #000000;
  --LDNPrimaryBG: #59cbe8;
  --LAGPrimaryBG: #3c1053;
  --LAVPrimaryBG: #1888c6;
  --NYXPrimaryBG: #171c38;
  --LVEPrimaryBG: #ffffff;
  --SINPrimaryBG: #cf2c36;
  --SFSPrimaryBG: #000000;
  --SEOPrimaryBG: #000000;
  --SHDPrimaryBG: #d22630;
  --TORPrimaryBG: #000000;
  --VANPrimaryBG: #09226b;
  --WASPrimaryBG: #990034;
  --ATLAccent: #910f1b;
  --BOSAccent: #ffffff;
  --CHDAccent: #ffffff;
  --DALAccent: #0172ce;
  --FLMAccent: #cf4691;
  --GZCAccent: #68a2b2;
  --HZSAccent: #ffffff;
  --HOUAccent: #97d724;
  --LDNAccent: #000000;
  --LAGAccent: #ffffff;
  --LAVAccent: #ffd129;
  --NYXAccent: #0f57ea;
  --LVEAccent: #ee7623;
  --SINAccent: #b09a79;
  --SFSAccent: #a5acaf;
  --SEOAccent: #ac8a18;
  --SHDAccent: #000000;
  --TORAccent: #ffffff;
  --VANAccent: #2eb228;
  --WASAccent: #ffffff;
}

html {
  @apply text-neutral-200;
}

h1 {
  font-family: "OverwatchItalicFont";
}

body {
  background-color: #222222;
}

main {
  transition: all 0.25s linear;
}

a {
  @apply underline hover:opacity-50;
}

.ATLText {
  color: var(--ATLPrimaryBG);
}

.BOSText {
  color: var(--BOSPrimaryBG);
}

.CHDText {
  color: var(--CHDPrimaryBG);
}

.DALText {
  color: var(--DALPrimaryBG);
}

.FLMText {
  color: var(--FLMPrimaryBG);
}

.GZCText {
  color: var(--GZCPrimaryBG);
}

.HOUText {
  color: var(--HOUPrimaryBG);
}

.LDNText {
  color: var(--LDNPrimaryBG);
}

.LAGText {
  color: var(--LAGPrimaryBG);
}

.LAVText {
  color: var(--LAVPrimaryBG);
}

.NYXText {
  color: var(--NYXPrimaryBG);
}

.LVEText {
  color: var(--LVEPrimaryBG);
}

.SINText {
  color: var(--HOUPrimaryBG);
}

.HZSText {
  color: var(--HZSPrimaryBG);
}

.SFSText {
  color: var(--SFSPrimaryBG);
}

.SEOText {
  color: var(--SEOPrimaryBG);
}

.SHDText {
  color: var(--SHDPrimaryBG);
}

.TORText {
  color: var(--TORPrimaryBG);
}

.VANText {
  color: var(--VANPrimaryBG);
}

.WASText {
  color: var(--WASPrimaryBG);
}

.ATLBG {
  background-color: var(--ATLPrimaryBG);
}

.BOSBG {
  background-color: var(--BOSPrimaryBG);
}

.CHDBG {
  background-color: var(--CHDPrimaryBG);
}

.DALBG {
  background-color: var(--DALPrimaryBG);
}

.FLMBG {
  background-color: var(--FLMPrimaryBG);
}

.GZCBG {
  background-color: var(--GZCPrimaryBG);
}

.HOUBG {
  background-color: var(--HOUPrimaryBG);
}

.LDNBG {
  background-color: var(--LDNPrimaryBG);
}

.LAGBG {
  background-color: var(--LAGPrimaryBG);
}

.LAVBG {
  background-color: var(--LAVPrimaryBG);
}

.NYXBG {
  background-color: var(--NYXPrimaryBG);
}

.LVEBG {
  background-color: var(--LVEPrimaryBG);
}

.SINBG {
  background-color: var(--SINPrimaryBG);
}

.HZSBG {
  background-color: var(--HZSPrimaryBG);
}

.SFSBG {
  background-color: var(--SFSPrimaryBG);
}

.SEOBG {
  background-color: var(--SEOPrimaryBG);
}

.SHDBG {
  background-color: var(--SHDPrimaryBG);
}

.TORBG {
  background-color: var(--TORPrimaryBG);
}

.VANBG {
  background-color: var(--VANPrimaryBG);
}

.WASBG {
  background-color: var(--WASPrimaryBG);
}

.ATLAccent {
  background-color: var(--ATLAccent);
}

.BOSAccent {
  background-color: var(--BOSAccent);
}

.CHDAccent {
  background-color: var(--CHDAccent);
}

.DALAccent {
  background-color: var(--DALAccent);
}

.FLMAccent {
  background-color: var(--FLMAccent);
}

.GZCAccent {
  background-color: var(--GZCAccent);
}

.HOUAccent {
  background-color: var(--HOUAccent);
}

.LDNAccent {
  background-color: var(--LDNAccent);
}

.LAGAccent {
  background-color: var(--LAGAccent);
}

.LAVAccent {
  background-color: var(--LAVAccent);
}

.NYXAccent {
  background-color: var(--NYXAccent);
}

.LVEAccent {
  background-color: var(--LVEAccent);
}

.SINAccent {
  background-color: var(--SINAccent);
}

.HZSAccent {
  background-color: var(--HZSAccent);
}

.SFSAccent {
  background-color: var(--SFSAccent);
}

.SEOAccent {
  background-color: var(--SEOAccent);
}

.SHDAccent {
  background-color: var(--SHDAccent);
}

.TORAccent {
  background-color: var(--TORAccent);
}

.VANAccent {
  background-color: var(--VANAccent);
}

.WASAccent {
  background-color: var(--WASAccent);
}
